@font-face {
  font-family: 'apercu';
  src: url("../fonts/apercu/Apercu.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'apercu_bold';
  src: url("../fonts/apercu/ApercuBold.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'apercu_medium';
  src: url("../fonts/apercu/ApercuMedium.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'apercu_mono';
  src: url("../fonts/apercu/ApercuMono.otf");
  font-weight: normal;
  font-style: normal; }
html, body {
  width: 100%;
  height: 100%;
  margin: 0; }

body {
  background: #4D4D4D;
  position: absolute; }

button {
  border: none;
  -webkit-appearance: none;
  background: none;
  outline: none; }

.browser {
  display: flex;
  flex-direction: column;
  transition: all 0s;
  position: absolute;
  width: 60%;
  max-width: 800px;
  height: calc(100% - 20vh);
  top: 10vh;
  left: 20vw;
  -webkit-transform-origin: bottom right; }
  .browser header {
    flex-shrink: 0; }
    .browser header .tool-bar {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      background-color: #E2E3E4;
      height: 54.9px;
      display: flex;
      align-items: center;
      padding: 0px 20px; }
      .browser header .tool-bar .circle-button {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        margin-right: 20px;
        display: block; }
      .browser header .tool-bar .browser-button {
        background-color: #FF1D25;
        position: relative; }
        .browser header .tool-bar .browser-button .nucleus {
          background-color: #9E1518;
          width: 10px;
          height: 10px;
          border-radius: 10px;
          display: block;
          position: absolute;
          top: 5px;
          left: 5px;
          transition: all .2s; }
        .browser header .tool-bar .browser-button:hover .nucleus {
          transform: scale(1.2); }
        .browser header .tool-bar .browser-button:active .nucleus {
          transform: scale(1.8); }
      .browser header .tool-bar .title-bar {
        font-family: apercu_bold;
        font-size: 14px;
        text-align: center;
        flex-grow: 1; }
    .browser header .tagline-bar {
      height: auto;
      padding: 13px 0;
      font-family: apercu_mono;
      font-size: 11px;
      text-align: center;
      background-color: #F2F2F2; }
      .browser header .tagline-bar a {
        color: black;
        text-decoration: none; }
        .browser header .tagline-bar a:hover {
          text-decoration: underline; }
  .browser .browser-content-container::-webkit-scrollbar {
    width: 0 !important; }
  .browser .browser-content-container {
    -ms-overflow-style: none; }
  .browser .browser-content-container {
    overflow: -moz-scrollbars-none; }
  .browser .browser-content-container {
    background-color: #FFFFFF;
    overflow-y: scroll;
    /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; }
    .browser .browser-content-container .page-content-container {
      padding: 30px;
      position: relative; }
      .browser .browser-content-container .page-content-container .post {
        margin-bottom: 40px;
        position: relative; }
        .browser .browser-content-container .page-content-container .post:last-of-type {
          margin-bottom: 0; }
        .browser .browser-content-container .page-content-container .post .photo-wrapper, .browser .browser-content-container .page-content-container .post .post-info-wrapper {
          box-sizing: border-box; }
        .browser .browser-content-container .page-content-container .post .photo-wrapper {
          width: 100%; }
          .browser .browser-content-container .page-content-container .post .photo-wrapper .photo {
            background-color: #f2f2f2;
            width: 100%;
            height: auto;
            display: block;
            user-select: none; }
        .browser .browser-content-container .page-content-container .post .post-info-wrapper {
          width: 95%;
          min-height: 95%;
          top: 2.5%;
          left: 2.5%;
          position: absolute;
          visibility: hidden;
          display: flex;
          flex-direction: column;
          z-index: 1; }
          .browser .browser-content-container .page-content-container .post .post-info-wrapper .post-info {
            margin: auto;
            width: 100%;
            max-width: 350px;
            box-sizing: border-box; }
            .browser .browser-content-container .page-content-container .post .post-info-wrapper .post-info .title {
              font-size: 15px;
              font-family: apercu_bold; }
            .browser .browser-content-container .page-content-container .post .post-info-wrapper .post-info .sub-title {
              font-size: 14px;
              font-family: apercu_mono;
              margin-bottom: 10px; }
            .browser .browser-content-container .page-content-container .post .post-info-wrapper .post-info .description {
              font-family: apercu;
              font-size: 13px;
              line-height: 1.6em; }
        .browser .browser-content-container .page-content-container .post.reveal-post-info .post-info-wrapper {
          visibility: visible; }

.browser.minimize {
  bottom: 30px;
  right: 30px;
  left: initial;
  top: initial;
  width: auto;
  height: auto; }
  .browser.minimize .browser-content-container, .browser.minimize header .tagline-bar, .browser.minimize header .tool-bar .title-bar {
    display: none; }
  .browser.minimize header .tool-bar {
    border-top-right-radius: 0;
    border-top-left-radius: 0; }
    .browser.minimize header .tool-bar .circle-button {
      margin: auto;
      background-color: #7ac943; }
      .browser.minimize header .tool-bar .circle-button .nucleus {
        background-color: #568d2f; }

.gif {
  position: absolute;
  width: 20%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  display: none; }

@media (max-width: 800px) {
  .browser {
    width: 90%;
    left: 5vw;
    top: 4vh;
    height: calc(100% - 8vh); }
    .browser header .title-bar .job-title {
      display: none; }
    .browser header .tool-bar {
      padding: 0 15px; }
      .browser header .tool-bar .circle-button {
        margin-right: 0; }
    .browser header .tagline-bar {
      line-height: 1.5em;
      height: auto;
      padding: 10px 14px; } }
    @media (max-width: 800px) and (min-width: 320px) and (max-width: 414px) {
      .browser header .tagline-bar br {
        display: inline !important; } }
@media (max-width: 800px) {
    .browser .browser-content-container .page-content-container {
      padding: 20px; }
      .browser .browser-content-container .page-content-container .post {
        margin-bottom: 20px; }
        .browser .browser-content-container .page-content-container .post .post-info-wrapper .post-info {
          padding: 20px;
          padding-bottom: 20%;
          margin: auto; }
          .browser .browser-content-container .page-content-container .post .post-info-wrapper .post-info .title {
            font-size: 13px; }
          .browser .browser-content-container .page-content-container .post .post-info-wrapper .post-info .sub-title {
            font-size: 12px; }
          .browser .browser-content-container .page-content-container .post .post-info-wrapper .post-info .description {
            font-size: 11px;
            line-height: 1.6em; }

  .gif {
    width: 70%; } }

/*# sourceMappingURL=main.css.map */
